USE [MEDSYSTEM]
GO
/****** Object:  Table [dbo].[eSocial_GrupoRiscos]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[eSocial_GrupoRiscos](
	[Id] [varchar](12) NULL,
	[Descricao] [varchar](200) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Ocorrencias]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Ocorrencias](
	[codOcorrencia] [int] IDENTITY(1,1) NOT NULL,
	[codEvento] [int] NOT NULL,
	[Descricao] [varchar](8000) NULL,
 CONSTRAINT [PK_eSocial_Ocorrencias] PRIMARY KEY CLUSTERED 
(
	[codOcorrencia] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Protocolos]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Protocolos](
	[codProtocolo] [int] IDENTITY(1,1) NOT NULL,
	[CodEmpresa] [int] NOT NULL,
	[Evento] [varchar](4) NOT NULL,
	[Data] [datetime] NOT NULL,
	[Status] [int] NULL,
	[Protocolo] [varchar](50) NOT NULL,
 CONSTRAINT [PK_eSocial_Protocolos] PRIMARY KEY CLUSTERED 
(
	[codProtocolo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Status_Evento]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Status_Evento](
	[codEvento] [int] IDENTITY(1,1) NOT NULL,
	[codProtocolo] [int] NOT NULL,
	[Evento] [varchar](36) NOT NULL,
	[Status] [varchar](255) NULL,
	[Descricao] [varchar](255) NULL,
 CONSTRAINT [PK_eSocial_Status_Evento] PRIMARY KEY CLUSTERED 
(
	[codEvento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela01_CategoriaDeTrabalhadores]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[eSocial_Tabela01_CategoriaDeTrabalhadores](
	[Codigo] [varchar](6) NOT NULL,
	[Descricao] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela05_TipoInscricao]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela05_TipoInscricao](
	[Id] [int] NOT NULL,
	[TipoInscricao] [varchar](100) NULL,
 CONSTRAINT [PK_eSocial_Tabela05_TipoInscricao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela06_Paises]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela06_Paises](
	[Id] [varchar](5) NOT NULL,
	[NomePais] [varchar](100) NULL,
 CONSTRAINT [PK_eSocial_Tabela06_Paises] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela13_ParteCorpoAtingida]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela13_ParteCorpoAtingida](
	[Id] [varchar](12) NOT NULL,
	[ParteCorpoAtingida] [varchar](max) NULL,
	[Unico] [bit] NULL,
 CONSTRAINT [PK_eSocial_Tabela13_ParteCorpoAtingida] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela14_AgenteCausadorAcienteTrabalho]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[eSocial_Tabela14_AgenteCausadorAcienteTrabalho](
	[Codigo] [varchar](15) NOT NULL,
	[Descricao] [varchar](255) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela15_AgenteCausadorSituacaoGeradora]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela15_AgenteCausadorSituacaoGeradora](
	[Codigo] [varchar](12) NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[eSocial_Tabela15_AgenteCausadorSituacaoGeradora] ADD [Descricao] [varchar](8000) NULL
ALTER TABLE [dbo].[eSocial_Tabela15_AgenteCausadorSituacaoGeradora] ADD [Aplicacao] [varchar](max) NULL

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela16_SituacaoGeradoraAcidenteTrabalho]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela16_SituacaoGeradoraAcidenteTrabalho](
	[Id] [varchar](12) NOT NULL,
	[Descricao] [varchar](255) NULL,
 CONSTRAINT [PK_eSocial_Tabela16_SituacaoGeradoraAcidenteTrabalho] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela17]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[eSocial_Tabela17](
	[Codigo] [varchar](10) NULL,
	[Descricao] [varchar](8000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela17_NaturezaDaLesao]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela17_NaturezaDaLesao](
	[Id] [varchar](12) NOT NULL,
	[NaturezaLesao] [varchar](8000) NULL,
 CONSTRAINT [PK_eSocial_DescricaoNaturezaLesao] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela18_MotivosAfastamento]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela18_MotivosAfastamento](
	[Id] [varchar](3) NOT NULL,
	[MotivoAfastamento] [varchar](1000) NULL,
 CONSTRAINT [PK_eSocial_Tabela18_MotivosAfastamento] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela20_TipoLogradouro]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[eSocial_Tabela20_TipoLogradouro](
	[Codigo] [nchar](10) NULL,
	[Descricao] [nchar](255) NULL
) ON [PRIMARY]

GO
/****** Object:  Table [dbo].[eSocial_Tabela23_Riscos]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela23_Riscos](
	[Id] [varchar](12) NOT NULL,
	[Risco] [varchar](1000) NOT NULL,
	[CodigoGrupo] [varchar](12) NULL,
 CONSTRAINT [PK_eSocial_Tabela23_Riscos] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela24_AgentesNocivosAtividades]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[eSocial_Tabela24_AgentesNocivosAtividades](
	[Id] [varchar](12) NOT NULL,
	[Risco] [varchar](1000) NOT NULL,
	[CodigoGrupo] [varchar](12) NULL,
 CONSTRAINT [PK_eSocial_eSocial_Tabela24_AgentesNocivosAtividades] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela24_CodificacaoAcidenteTrabalho]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela24_CodificacaoAcidenteTrabalho](
	[Id] [varchar](12) NOT NULL,
	[DescricaoSituacao] [varchar](max) NULL,
 CONSTRAINT [PK_eSocial_Tabela24_CodificacaoAcidenteTrabalho] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela27_ProcedimentosDiagnosticos]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela27_ProcedimentosDiagnosticos](
	[Codigo] [varchar](5) NULL,
	[Descricao] [varchar](8000) NULL
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela28_AtividadesPerigosasInsalubres]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela28_AtividadesPerigosasInsalubres](
	[Codigo] [varchar](6) NOT NULL,
	[Descricao] [text] NOT NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_Tabela29_TreinamentoeCapacitacoes]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_Tabela29_TreinamentoeCapacitacoes](
	[Codigo] [varchar](10) NOT NULL,
	[Descricao] [varchar](1000) NOT NULL,
 CONSTRAINT [PK_eSocial_Tabela29_TreinamentoeCapacitacoes] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[esocial_TipoAcidente]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[esocial_TipoAcidente](
	[Id] [int] NOT NULL,
	[TipoAcidente] [varchar](30) NULL,
 CONSTRAINT [PK_eSocial_TipoAcidente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_TipoLocalAcidente]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_TipoLocalAcidente](
	[Id] [int] NOT NULL,
	[TipoLocalAcidente] [varchar](100) NULL,
 CONSTRAINT [PK_eSocial_TipoLocalAcidente] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[eSocial_TipoLocalAmbienteTrabalho]    Script Date: 25/01/2022 14:03:26 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[eSocial_TipoLocalAmbienteTrabalho](
	[Id] [int] NOT NULL,
	[DescricaoLocal] [varchar](100) NULL,
 CONSTRAINT [PK_eSocial_TipoLocalAmbienteTrabalho] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[eSocial_GrupoRiscos] ([Id], [Descricao]) VALUES (N'01.01', N'FÍSICOS')
INSERT [dbo].[eSocial_GrupoRiscos] ([Id], [Descricao]) VALUES (N'02.01', N'QUIMICOS')
INSERT [dbo].[eSocial_GrupoRiscos] ([Id], [Descricao]) VALUES (N'03.01', N'BIOLÓGICO')
INSERT [dbo].[eSocial_Tabela01_CategoriaDeTrabalhadores] ([Codigo], [Descricao]) VALUES (N'101', N'Empregado - Geral, inclusive o empregado público da administração direta ou indireta contratado pela CLT.')
INSERT [dbo].[eSocial_Tabela01_CategoriaDeTrabalhadores] ([Codigo], [Descricao]) VALUES (N'102', N'Empregado - Trabalhador Rural por Pequeno Prazo da Lei 11.718/2008')
INSERT [dbo].[eSocial_Tabela01_CategoriaDeTrabalhadores] ([Codigo], [Descricao]) VALUES (N'103', N'Empregado - Aprendiz')
INSERT [dbo].[eSocial_Tabela05_TipoInscricao] ([Id], [TipoInscricao]) VALUES (1, N'CNPJ')
INSERT [dbo].[eSocial_Tabela05_TipoInscricao] ([Id], [TipoInscricao]) VALUES (2, N'CPF')
INSERT [dbo].[eSocial_Tabela05_TipoInscricao] ([Id], [TipoInscricao]) VALUES (3, N'CAEPF')
INSERT [dbo].[eSocial_Tabela06_Paises] ([Id], [NomePais]) VALUES (N'101', N'Botsuana')
INSERT [dbo].[eSocial_Tabela06_Paises] ([Id], [NomePais]) VALUES (N'102', N'Bouvet, Ilha')
INSERT [dbo].[eSocial_Tabela06_Paises] ([Id], [NomePais]) VALUES (N'105', N'Brasil')
GO
INSERT [dbo].[eSocial_Tabela13_ParteCorpoAtingida] ([Id], [ParteCorpoAtingida], [Unico]) VALUES (N'753030000', N'Crânio (inclusive encéfalo)', 1)
INSERT [dbo].[eSocial_Tabela13_ParteCorpoAtingida] ([Id], [ParteCorpoAtingida], [Unico]) VALUES (N'753050000', N'Ouvido (externo, médio, interno, audição e equilíbrio)', 0)
INSERT [dbo].[eSocial_Tabela13_ParteCorpoAtingida] ([Id], [ParteCorpoAtingida], [Unico]) VALUES (N'753070100', N'Olho (inclusive nervo ótico e visão)', 0)
INSERT [dbo].[eSocial_Tabela14_AgenteCausadorAcienteTrabalho] ([Codigo], [Descricao]) VALUES (N'302010200', N'Rua e estrada - superfície utilizada para sustentar pessoas')
INSERT [dbo].[eSocial_Tabela14_AgenteCausadorAcienteTrabalho] ([Codigo], [Descricao]) VALUES (N'302010250', N'Calçada ou caminho para pedestre - superfície utilizada para sustentar pessoas')
INSERT [dbo].[eSocial_Tabela14_AgenteCausadorAcienteTrabalho] ([Codigo], [Descricao]) VALUES (N'302010300', N'Piso de edifício - superfície utilizada para sustentar pessoas')
GO
INSERT [dbo].[eSocial_Tabela15_AgenteCausadorSituacaoGeradora] ([Codigo], [Descricao], [Aplicacao]) VALUES (N'200008300', N'Impacto sofrido por pessoa, de objeto que cai', N'Aplica-se a casos em que a lesão foi produzida por impacto entre o acidentado e a fonte da lesão, tendo sido da fonte da lesão, e não do acidentado, o movimento que originou o contato.')
INSERT [dbo].[eSocial_Tabela16_SituacaoGeradoraAcidenteTrabalho] ([Id], [Descricao]) VALUES (N'200004300', N'Impacto de pessoa contra objeto parado')
INSERT [dbo].[eSocial_Tabela16_SituacaoGeradoraAcidenteTrabalho] ([Id], [Descricao]) VALUES (N'200004600', N'Impacto de pessoa contra objeto em movimento')
INSERT [dbo].[eSocial_Tabela16_SituacaoGeradoraAcidenteTrabalho] ([Id], [Descricao]) VALUES (N'200008300', N'Impacto sofrido por pessoa de objeto que cai')
INSERT [dbo].[eSocial_Tabela17] ([Codigo], [Descricao]) VALUES (N'702000000', N'Lesão imediata')
INSERT [dbo].[eSocial_Tabela17] ([Codigo], [Descricao]) VALUES (N'702005000', N'Escoriação, abrasão (ferimento superficial)')
INSERT [dbo].[eSocial_Tabela17] ([Codigo], [Descricao]) VALUES (N'702010000', N'Corte, laceração, ferida contusa, punctura (ferida aberta)')
INSERT [dbo].[eSocial_Tabela17_NaturezaDaLesao] ([Id], [NaturezaLesao]) VALUES (N'702000000', N'Lesão imediata')
INSERT [dbo].[eSocial_Tabela17_NaturezaDaLesao] ([Id], [NaturezaLesao]) VALUES (N'702005000', N'Escoriação, abrasão (ferimento superficial)')
INSERT [dbo].[eSocial_Tabela17_NaturezaDaLesao] ([Id], [NaturezaLesao]) VALUES (N'702010000', N'Corte, laceração, ferida contusa, punctura (ferida aberta)')
INSERT [dbo].[eSocial_Tabela18_MotivosAfastamento] ([Id], [MotivoAfastamento]) VALUES (N'01', N'Acidente/Doença do trabalho')
INSERT [dbo].[eSocial_Tabela18_MotivosAfastamento] ([Id], [MotivoAfastamento]) VALUES (N'03', N'Acidente/Doença não relacionada ao trabalho')
INSERT [dbo].[eSocial_Tabela18_MotivosAfastamento] ([Id], [MotivoAfastamento]) VALUES (N'05', N'Afastamento/licença   prevista   em   regime   próprio   (estatuto),   sem remuneração')
INSERT [dbo].[eSocial_Tabela20_TipoLogradouro] ([Codigo], [Descricao]) VALUES (N'A         ', N'Área                                                                                                                                                                                                                                                           ')
INSERT [dbo].[eSocial_Tabela20_TipoLogradouro] ([Codigo], [Descricao]) VALUES (N'AC        ', N'Acesso                                                                                                                                                                                                                                                         ')
INSERT [dbo].[eSocial_Tabela20_TipoLogradouro] ([Codigo], [Descricao]) VALUES (N'ACA       ', N'Acampamento                                                                                                                                                                                                                                                    ')
GO
INSERT [dbo].[eSocial_Tabela23_Riscos] ([Id], [Risco], [CodigoGrupo]) VALUES (N'01.01.001', N'Infrassom e sons de baixa frequência', N'01.01')
INSERT [dbo].[eSocial_Tabela23_Riscos] ([Id], [Risco], [CodigoGrupo]) VALUES (N'01.01.002', N'Ruído contínuo ou intermitente (legislação previdenciária)', N'01.01')
INSERT [dbo].[eSocial_Tabela23_Riscos] ([Id], [Risco], [CodigoGrupo]) VALUES (N'01.01.003', N'Ruído impulsivo ou de impacto', N'01.01')
GO
INSERT [dbo].[eSocial_Tabela24_AgentesNocivosAtividades] ([Id], [Risco], [CodigoGrupo]) VALUES (N'01.01.001', N'Arsênio e seus compostos', N'01.01')
INSERT [dbo].[eSocial_Tabela24_AgentesNocivosAtividades] ([Id], [Risco], [CodigoGrupo]) VALUES (N'01.02.001', N'Asbestos (ou amianto)', N'01.02')
INSERT [dbo].[eSocial_Tabela24_AgentesNocivosAtividades] ([Id], [Risco], [CodigoGrupo]) VALUES (N'01.03.001', N'Benzeno e seus compostos tóxicos (exceto os abaixo especificados, que constam expressamente no Anexo IV do Decreto 3.048/1999)', N'01.03')
INSERT [dbo].[eSocial_Tabela24_CodificacaoAcidenteTrabalho] ([Id], [DescricaoSituacao]) VALUES (N'1.0.01', N'Lesão corporal que cause a morte ou a perda ou redução, permanente ou temporária, da capacidade para o trabalho, desde que não enquadrada em nenhum dos demais códigos.')
INSERT [dbo].[eSocial_Tabela24_CodificacaoAcidenteTrabalho] ([Id], [DescricaoSituacao]) VALUES (N'1.0.02', N'Perturbação  funcional  que  cause  a  morte  ou  a  perda  ou  redução,  permanente  ou  temporária,  da capacidade para o trabalho, desde que não enquadrada em nenhum dos demais códigos.')
INSERT [dbo].[eSocial_Tabela24_CodificacaoAcidenteTrabalho] ([Id], [DescricaoSituacao]) VALUES (N'2.0.01', N'Doença profissional, assim entendida a produzida ou desencadeada pelo exercício do trabalho peculiar a determinada  atividade  e  constante  da  respectiva  relação  elaborada  pelo  Ministério  do  Trabalho  e Previdência Social, desde que não enquadrada em nenhum dos demais códigos.')
INSERT [dbo].[eSocial_Tabela27_ProcedimentosDiagnosticos] ([Codigo], [Descricao]) VALUES (N'0001', N'1,1-dicloro-2,2-bis (P-clorofeniletileno)')
INSERT [dbo].[eSocial_Tabela27_ProcedimentosDiagnosticos] ([Codigo], [Descricao]) VALUES (N'0002', N'1,1,1-tricloroetano')
INSERT [dbo].[eSocial_Tabela27_ProcedimentosDiagnosticos] ([Codigo], [Descricao]) VALUES (N'0003', N'1,2 dihidroxi-4-(N-acetilcisteinil)-butano')
GO
INSERT [dbo].[eSocial_Tabela28_AtividadesPerigosasInsalubres] ([Codigo], [Descricao]) VALUES (N'01.001', N'Trabalho  ou  operações,  em  contato  permanente  com  pacientes  em  isolamento  por  doenças infecto-contagiosas, bem como objetos de seu uso, não previamente esterilizados.')
INSERT [dbo].[eSocial_Tabela28_AtividadesPerigosasInsalubres] ([Codigo], [Descricao]) VALUES (N'01.002', N'Trabalho  ou  operações,  em  contato  permanente  com  carnes,  glândulas,  vísceras,  sangue, ossos,   couros,   pelos   e   dejeções   de   animais   portadores   de   doenças   infecto-contagiosas (carbunculose, brucelose, tuberculose).')
INSERT [dbo].[eSocial_Tabela28_AtividadesPerigosasInsalubres] ([Codigo], [Descricao]) VALUES (N'01.003', N'Trabalho ou operações, em contato permanente com esgotos (galerias, fossas e tanques).')
GO
INSERT [dbo].[eSocial_Tabela29_TreinamentoeCapacitacoes] ([Codigo], [Descricao]) VALUES (N'0097', N'Treinamento do Programa de Conservação Auditiva')
INSERT [dbo].[eSocial_Tabela29_TreinamentoeCapacitacoes] ([Codigo], [Descricao]) VALUES (N'0098', N'Treinamento do Programa de Proteção Respiratória')
INSERT [dbo].[eSocial_Tabela29_TreinamentoeCapacitacoes] ([Codigo], [Descricao]) VALUES (N'0099', N'Outros treinamentos, capacitações ou exercícios simulados, não previstos nas NRs')
GO
INSERT [dbo].[esocial_TipoAcidente] ([Id], [TipoAcidente]) VALUES (1, N'Típico')
INSERT [dbo].[esocial_TipoAcidente] ([Id], [TipoAcidente]) VALUES (2, N'Doença')
INSERT [dbo].[esocial_TipoAcidente] ([Id], [TipoAcidente]) VALUES (3, N'Trajeto')
INSERT [dbo].[eSocial_TipoLocalAcidente] ([Id], [TipoLocalAcidente]) VALUES (1, N'Estabelecimento do empregador no Brasil')
INSERT [dbo].[eSocial_TipoLocalAcidente] ([Id], [TipoLocalAcidente]) VALUES (2, N'Estabelecimento do empregador no Exterior')
INSERT [dbo].[eSocial_TipoLocalAcidente] ([Id], [TipoLocalAcidente]) VALUES (3, N'Estabelecimento de terceiros onde o empregador presta serviços')
INSERT [dbo].[eSocial_TipoLocalAmbienteTrabalho] ([Id], [DescricaoLocal]) VALUES (1, N'Estabelecimento próprio')
INSERT [dbo].[eSocial_TipoLocalAmbienteTrabalho] ([Id], [DescricaoLocal]) VALUES (2, N'Estabelecimento de terceiros')
ALTER TABLE [dbo].[eSocial_Ocorrencias]  WITH CHECK ADD  CONSTRAINT [FK_eSocial_Ocorrencias_eSocial_Status_Evento] FOREIGN KEY([codEvento])
REFERENCES [dbo].[eSocial_Status_Evento] ([codEvento])
GO
ALTER TABLE [dbo].[eSocial_Ocorrencias] CHECK CONSTRAINT [FK_eSocial_Ocorrencias_eSocial_Status_Evento]
GO
ALTER TABLE [dbo].[eSocial_Protocolos]  WITH CHECK ADD  CONSTRAINT [FK_eSocial_Protocolos_mtempresas] FOREIGN KEY([CodEmpresa])
REFERENCES [dbo].[mtempresas] ([Codigo])
GO
ALTER TABLE [dbo].[eSocial_Protocolos] CHECK CONSTRAINT [FK_eSocial_Protocolos_mtempresas]
GO
ALTER TABLE [dbo].[eSocial_Status_Evento]  WITH CHECK ADD  CONSTRAINT [FK_eSocial_Status_Evento_eSocial_Protocolos] FOREIGN KEY([codProtocolo])
REFERENCES [dbo].[eSocial_Protocolos] ([codProtocolo])
GO
ALTER TABLE [dbo].[eSocial_Status_Evento] CHECK CONSTRAINT [FK_eSocial_Status_Evento_eSocial_Protocolos]
GO
