USE [MEDCEP]
GO
/****** Object:  Table [dbo].[swIBGE]    Script Date: 24/01/2022 18:00:15 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[swIBGE](
	[Cod_Municipio] [int] NOT NULL,
	[Nome] [varchar](50) NULL,
	[UF] [varchar](2) NULL,
	[Cod_IBGE] [varchar](10) NULL,
	[Cod_TMunicipio] [varchar](10) NULL,
	[Possui_WebService] [bit] NULL CONSTRAINT [DF_nfMunicipio_Possui_WebService]  DEFAULT ((0)),
 CONSTRAINT [PK_nfMunicipio] PRIMARY KEY CLUSTERED 
(
	[Cod_Municipio] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
INSERT [dbo].[swIBGE] ([Cod_Municipio], [Nome], [UF], [Cod_IBGE], [Cod_TMunicipio], [Possui_WebService]) VALUES (1, N'Guajará-Mirim', N'RO', N'1100106', N'NULL', 0)
INSERT [dbo].[swIBGE] ([Cod_Municipio], [Nome], [UF], [Cod_IBGE], [Cod_TMunicipio], [Possui_WebService]) VALUES (2, N'Alto Alegre dos Parecis', N'RO', N'1100379', N'NULL', 0)
INSERT [dbo].[swIBGE] ([Cod_Municipio], [Nome], [UF], [Cod_IBGE], [Cod_TMunicipio], [Possui_WebService]) VALUES (3, N'Porto Velho', N'RO', N'1100205', N'NULL', 0)
GO
