USE [MEDSYSTEM]
GO
/****** Object:  Table [dbo].[logFTP]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[logFTP](
	[Codigo] [int] IDENTITY(1,1) NOT FOR REPLICATION NOT NULL,
	[Cod_Usuario] [int] NULL,
	[Data_Hora] [datetime] NULL,
	[Msg] [varchar](255) NULL,
	[Caminho] [varchar](255) NULL,
	[Arquivo] [varchar](255) NULL,
	[NomeComputador] [varchar](50) NULL,
 CONSTRAINT [logFTP_pk] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2210]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2210](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[PlataformaEnvio] [text] NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL,
	[NomeFuncao] [varchar](50) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[EventoTipo] [smallint] NULL,
	[NumeroCAT] [varchar](40) NULL,
	[DataHoraLancamento] [datetime] NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs2210] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2210pendencia]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2210pendencia](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL,
	[NomeFuncao] [varchar](50) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[DescPendencia] [text] NULL,
	[ValorAntigo] [text] NULL,
	[ValorCorrecao] [text] NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs2210pendencia] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2220]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2220](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[PlataformaEnvio] [text] NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL,
	[NomeFuncao] [varchar](50) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[EventoTipo] [smallint] NULL,
	[NumeroASO] [int] NULL,
	[DataHoraLancamento] [datetime] NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs2220] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2220pendencia]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2220pendencia](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL,
	[NomeFuncao] [varchar](50) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[DescPendencia] [text] NULL,
	[ValorAntigo] [text] NULL,
	[ValorCorrecao] [text] NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs2220pendencia] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2230original]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2230original](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[PlataformaEnvio] [text] NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL,
	[NomeFuncao] [varchar](50) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[DataInicio] [datetime] NULL,
	[DataFim] [datetime] NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs2230original] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2230pendencia]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2230pendencia](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL,
	[NomeFuncao] [varchar](50) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[DescPendencia] [text] NULL,
	[ValorAntigo] [text] NULL,
	[ValorCorrecao] [text] NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs2230pendencia] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2230retificacao]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2230retificacao](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[PlataformaEnvio] [text] NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL,
	[NomeFuncao] [varchar](50) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[NumAfastamento] [varchar](40) NULL,
	[OrigemRetif] [varchar](100) NULL,
	[ProcessoTipo] [varchar](100) NULL,
	[NumeroProcesso] [varchar](100) NULL,
	[DataInicio] [datetime] NULL,
	[DataFim] [datetime] NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs2230retificacao] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2230termino]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2230termino](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[PlataformaEnvio] [text] NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL,
	[NomeFuncao] [varchar](50) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[DataFim] [datetime] NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs2230termino] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2240]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2240](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[PlataformaEnvio] [text] NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodPPRA] [int] NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
SET ANSI_PADDING ON
ALTER TABLE [dbo].[logs2240] ADD [NomeFuncao] [varchar](999) NULL
ALTER TABLE [dbo].[logs2240] ADD [CodFuncionario] [int] NULL
SET ANSI_PADDING OFF
ALTER TABLE [dbo].[logs2240] ADD [NomeFuncionario] [varchar](100) NULL
ALTER TABLE [dbo].[logs2240] ADD [EventoTipo] [smallint] NULL
ALTER TABLE [dbo].[logs2240] ADD [CodPPRAAnterior] [varchar](40) NULL
ALTER TABLE [dbo].[logs2240] ADD [DataHoraEnvio] [datetime] NULL
 CONSTRAINT [PK_logs2240] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs2240pendencia]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs2240pendencia](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodPPRAAlterado] [varchar](40) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CodSetor] [int] NULL,
	[NomeSetor] [varchar](100) NULL,
	[CodFuncao] [int] NULL,
	[NomeFuncao] [varchar](50) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[DescPendencia] [text] NULL,
	[ValorAntigo] [text] NULL,
	[ValorCorrecao] [text] NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs2240pendencia] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[logs3000]    Script Date: 31/01/2022 10:40:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING OFF
GO
CREATE TABLE [dbo].[logs3000](
	[Codigo] [int] IDENTITY(1,1) NOT NULL,
	[PlataformaEnvio] [text] NULL,
	[CodUsuario] [int] NULL,
	[NomeUsuario] [varchar](100) NULL,
	[CodEmpresa] [int] NULL,
	[NomeEmpresa] [varchar](255) NULL,
	[CNPJEmpresa] [varchar](100) NULL,
	[Evento] [varchar](6) NULL,
	[CodFuncionario] [int] NULL,
	[NomeFuncionario] [varchar](100) NULL,
	[DocFuncionario] [varchar](50) NULL,
	[NumRecibo] [varchar](40) NULL,
	[DataHoraEnvio] [datetime] NULL,
 CONSTRAINT [PK_logs3000] PRIMARY KEY CLUSTERED 
(
	[Codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
SET IDENTITY_INSERT [dbo].[logs2210] ON 

INSERT [dbo].[logs2210] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [EventoTipo], [NumeroCAT], [DataHoraLancamento], [DataHoraEnvio]) VALUES (1, N'Plataforma eSocial MeTra Cloud', 21, N'Wesley A. Degasperi', 635, N'GRUPO SOITIC', 15, N'setor 01', 2487, N'Administrador', 4422, N'WESLEY A DEGASPERI*', 1, N'', CAST(N'2021-12-07 00:00:00.000' AS DateTime), CAST(N'2021-12-07 23:15:26.000' AS DateTime))
INSERT [dbo].[logs2210] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [EventoTipo], [NumeroCAT], [DataHoraLancamento], [DataHoraEnvio]) VALUES (2, N'Plataforma eSocial MeTra Cloud', 21, N'Wesley A. Degasperi', 635, N'GRUPO SOITIC', 15, N'setor 01', 2560, N'Administrador', 4422, N'WESLEY A DEGASPERI*', 1, N'', CAST(N'2021-11-16 00:00:00.000' AS DateTime), CAST(N'2021-12-07 23:15:42.000' AS DateTime))
INSERT [dbo].[logs2210] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [EventoTipo], [NumeroCAT], [DataHoraLancamento], [DataHoraEnvio]) VALUES (3, N'Plataforma eSocial MeTra Cloud', 21, N'Wesley A. Degasperi', 661, N'GRUPO SOITIC 2', 15, N'OPERACIONAL', 2573, N'Alimentador de linha de produçao', 4550, N'WESLEY FILIAL', 1, N'', CAST(N'2021-12-27 00:00:00.000' AS DateTime), CAST(N'2021-12-27 09:39:17.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[logs2210] OFF
SET IDENTITY_INSERT [dbo].[logs2220] ON 

INSERT [dbo].[logs2220] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [EventoTipo], [NumeroASO], [DataHoraLancamento], [DataHoraEnvio]) VALUES (1, N'Não Enviou', 20, N'ENGENHEIRO LUIS', 89, N'TESTE', 95, N'INSTALAÇÃO', 165, N'Administrador', 272, N'TESTE MEDSYSTEM', 1, -1, CAST(N'2016-10-03 00:00:00.000' AS DateTime), CAST(N'2019-06-26 17:54:25.000' AS DateTime))
INSERT [dbo].[logs2220] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [EventoTipo], [NumeroASO], [DataHoraLancamento], [DataHoraEnvio]) VALUES (2, N'Não Enviou', 20, N'ENGENHEIRO LUIS', 89, N'TESTE', 95, N'INSTALAÇÃO', 165, N'Administrador', 272, N'TESTE MEDSYSTEM', 1, -1, CAST(N'2016-10-03 00:00:00.000' AS DateTime), CAST(N'2019-06-26 17:58:57.000' AS DateTime))
INSERT [dbo].[logs2220] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [EventoTipo], [NumeroASO], [DataHoraLancamento], [DataHoraEnvio]) VALUES (3, N'Não Enviou', 20, N'ENGENHEIRO LUIS', 89, N'TESTE', 95, N'INSTALAÇÃO', 165, N'Administrador', 272, N'TESTE MEDSYSTEM', 1, -1, CAST(N'2016-10-03 00:00:00.000' AS DateTime), CAST(N'2019-06-26 18:00:25.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[logs2220] OFF
SET IDENTITY_INSERT [dbo].[logs2230original] ON 

INSERT [dbo].[logs2230original] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [DataInicio], [DataFim], [DataHoraEnvio]) VALUES (1, N'Plataforma eSocial MeTra Cloud', 21, N'Wesley A. Degasperi', 635, N'GRUPO SOITIC', 1162, N'setor 01', 2487, N'Administrador', 4422, N'WESLEY A DEGASPERI*', CAST(N'2021-10-09 00:00:00.000' AS DateTime), CAST(N'2022-10-09 00:00:00.000' AS DateTime), CAST(N'2021-10-09 11:22:34.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[logs2230original] OFF
SET IDENTITY_INSERT [dbo].[logs2240] ON 

INSERT [dbo].[logs2240] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodPPRA], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [EventoTipo], [CodPPRAAnterior], [DataHoraEnvio]) VALUES (1, N'Plataforma eSocial MeTra Cloud', 21, N'Wesley Degasperi', 4142, 638, N'EMPRESA METRA ESOCIAL', 1168, N'OPERACIONAL', 2495, N'Pintor', 4420, N'FUNCIONARIO METRA', 1, N'', CAST(N'2020-11-24 17:00:29.000' AS DateTime))
INSERT [dbo].[logs2240] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodPPRA], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [EventoTipo], [CodPPRAAnterior], [DataHoraEnvio]) VALUES (2, N'Plataforma eSocial MeTra Cloud', 21, N'Wesley Degasperi', 4142, 638, N'EMPRESA METRA ESOCIAL', 1168, N'OPERACIONAL', 2495, N'Pintor', 4424, N'teste vinculo', 1, N'', CAST(N'2020-11-24 17:00:29.000' AS DateTime))
INSERT [dbo].[logs2240] ([Codigo], [PlataformaEnvio], [CodUsuario], [NomeUsuario], [CodPPRA], [CodEmpresa], [NomeEmpresa], [CodSetor], [NomeSetor], [CodFuncao], [NomeFuncao], [CodFuncionario], [NomeFuncionario], [EventoTipo], [CodPPRAAnterior], [DataHoraEnvio]) VALUES (3, N'Não Enviou', 21, N'Wesley A. Degasperi', 4151, 635, N'EMPRESA TESTE', 1162, N'setor 01', 2487, N'Administrador', 4422, N'WESLEY A DEGASPERI*', 1, N'', CAST(N'2021-10-05 12:22:55.000' AS DateTime))
GO
SET IDENTITY_INSERT [dbo].[logs2240] OFF
